.landingPage-view {
  height: 100%;

  .test {
    background: center no-repeat;
    background-image: url('../../images/landingPageBackground2.png');
    height: 100%;
    filter: opacity(80%);
    position: relative;
    z-index: 1;
  }

  .association {
    &-container {
      font-size: 18px;
      text-transform: uppercase;
      // Layout properties
      position: absolute;
      right: 10vw;
      top: 5vh;
      z-index: 2;
    }
  }
  .credits {
    &-container {
      bottom: 15vh;
      color: #fff;
      position: absolute;
      right: 10vw;
      text-align: right;
      text-transform: uppercase;
      z-index: 2;

      // Overriding user agent stylesheet sizes for these
      // Prefer semantic markup for SEO implications
      h1, h2, h3 {
        font-size: 28px;
      }
    }
    &-text--bottom {
      border-bottom: 3px solid red;
      padding-bottom: 25px;
      // These next two are hacky shiz for the partial border unerline
      width: 52%;
      float: right;
    }
  }
  .header {
    &-container {
      padding: 10vh 0 0 5vw;
      position: absolute;
      top: 0;
      z-index: 2;
    }
  }
  .movieTitle {
    &-container {
      color: grey;
      font-size: 120px;
      z-index: 2;
      // Layout properties
      position: absolute;
      bottom: -10vh;
      right: 10vw;
    }
  }
}
