@import 'include-media/dist/_include-media.scss';
.shareTheMessageLanding {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 100%;

  &-header {
    height: 45%;

    @media screen and (max-width: 850px) {
      height: 40%;
    }

    &-pageTitle {
      position: absolute;
      top: 15px;
      left: 45px;
      text-transform: uppercase;
      padding-top: 15px;
      border-top: 3px solid white;
      z-index: 1;
      max-width: 100%;
      font-size: 48px;
      color: rgba(255, 255, 255, 0.83);
    }

    &-image {
      width: 100%;
      height: 100%;
      filter: opacity(0.8);
      object-fit: cover;
      max-height: 400px;
    }
  }

  &-divider {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    margin-top: 15px;
    margin-bottom: 15px;

    @media screen and (max-width: 850px) {
      flex-direction: column;
      margin-top: 50px;
      margin-bottom: 50px;
    }

    &-text {
      font-size: 48px;
      color: rgba(255, 255, 255, 0.83);
      margin: 10px 60px 0 40px;
      white-space: nowrap;

      @media screen and (max-width: 850px) {
        text-align: center;
        margin: 10px;
        width: 100%;
      }
    }

    &-line {
      width: 60%;
      height: 1px;
      border-bottom: 3px solid red;

      animation-name: shareTheMessageLineAnimation;
      animation-duration: 2s;
      animation-delay: 1s;

      @keyframes shareTheMessageLineAnimation {
        0% {
          width: 0;
        }
        100% {
          width: 60%;
        }
      }
    }
    &-social {
      display: flex;
      padding-right: 30px;
    }
  }

  &-dividerLeft {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    margin-top: 15px;
    margin-bottom: 15px;

    @media screen and (max-width: 850px) {
      flex-direction: column;
      margin-top: 50px;
      margin-bottom: 50px;
    }

    &-text {
      font-size: 48px;
      color: rgba(255, 255, 255, 0.83);
      margin: 10px 60px 0 40px;
      white-space: nowrap;

      @media screen and (max-width: 850px) {
        text-align: center;
        margin: 10px;
        width: 100%;
      }
    }

    &-line {
      width: 60%;
      height: 1px;
      border-bottom: 3px solid red;

      animation-name: shareTheMessageLineAnimation;
      animation-duration: 2s;
      animation-delay: 1s;

      @keyframes shareTheMessageLineAnimation {
        0% {
          width: 0;
        }
        100% {
          width: 60%;
        }
      }
    }
    &-social {
      display: flex;
      padding-right: 30px;
    }
  }

  &-movie {
    // Define minimum constraints so we don't cut off the image
    // These settings are a 16:9 aspect ratio
    min-width: 900px;
    min-height: 506px;
    // Define maximum constraints so we don't end up with weird ratios
    max-width: 1920px;
    max-height: 1080px;
    width: auto;
    height: auto;

    @include media('<tablet') {
      min-width: 360px;
      min-height: 202px;
    }
  }
}
