@import 'include-media/dist/_include-media.scss';

.imageCarousel {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: black;
  position: relative;
  padding-top: 10px;

  @media screen and (max-width: 1100px) {
    max-height: 80vh;
    height: 80vh;
  }

  @media screen and (max-width: 600px) {
    max-height: 100vh;
    height: auto;
  }

  &-downloadIcon {
    position: absolute;
    top: 50px;
    right: 50px;

    &-icon {
      height: 40px;
      width: 40px;

      @media screen and (max-width: 1800px) {
        height: 30px;
        width: 30px;
      }

      @media screen and (max-width: 1300px) {
        height: 25px;
        width: 25px;
      }

      @media screen and (max-width: 400px) {
        height: 20px;
        width: 20px;
      }
    }

    @media screen and (max-width: 400px) {
      top: 25px;
      right: 25px;
    }
  }

  &-mainImage {
    width: 100%;
    max-height: 75%;
    object-fit: contain;

    &-withTitle {
      max-height: 75%;
    }
  }

  &-scroller {
    display: flex;
    position: absolute;
    bottom: 65px;
    overflow: auto;
    // max-width: 90%;
    white-space: nowrap;
    align-items: center;
  
    &::-webkit-scrollbar {
      width: 0 !important;
    }

    &-withTitle {
      bottom: 105px;
    }

    &-image {
      height: 90px;
      width: 130px;
      margin: 0 10px;
      transition-duration: 0.25s;
      cursor: pointer;

      &-selected {
        border: 1px solid white;
      }
    }

    @media screen and (max-width: 600px) {
      display: none;
    }
  }

  &-title {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.83);
    text-align: center;
    line-height: 22px;
    position: absolute;
    bottom: 45px;
    text-transform: uppercase;

    @media screen and (max-width: 600px) {
      position: initial;
      padding: 15px;
    }
  }

  &-sideArrows {
    position: absolute;
    top: 35%;
    display: flex;
    justify-content: space-between;
    width: 70%;
    max-width: 1900px;

    @media screen and (max-width: 900px) {
      top: 30%;
      width: 80%;
    }

    @media screen and (max-width: 600px) {
      top: 35%;
      width: 85%;
    }

    &-left {
      cursor: pointer;
      font-family: NanumPen;
      font-size: 35px;
      color: rgba(255, 255, 255, 0.83);
      letter-spacing: -2.56px;
      margin: 0;
      padding: 10px;
      transition-duration: 0.15s;

      @media screen and (min-width: 1800px) {
        font-size: 50px;
      }

      @media screen and (max-width: 600px) {
        font-size: 20px;
      }

      &:hover {
        color: #a31f2b;
      }
    }
    &-right {
      cursor: pointer;
      font-family: NanumPen;
      font-size: 35px;
      color: rgba(255, 255, 255, 0.83);
      letter-spacing: -2.56px;
      margin: 0;
      padding: 10px;
      transition-duration: 0.15s;

      @media screen and (min-width: 1800px) {
        font-size: 50px;
      }

      @media screen and (max-width: 600px) {
        font-size: 20px;
      }

      &:hover {
        color: #a31f2b;
      }
    }
  }

  &-arrows {
    display: flex;
    width: 90px;
    justify-content: space-between;
    height: 50px;
    position: absolute;
    bottom: 25px;

    @media screen and (max-width: 600px) {
      position: initial;
    }

    &-arrow {
      cursor: pointer;
      font-family: NanumPen;
      font-size: 32px;
      color: rgba(255, 255, 255, 0.83);
      letter-spacing: -2.56px;
      margin: 0;
      padding: 10px;
      transition-duration: 0.15s;

      @media screen and (max-width: 600px) {
        font-size: 26px;
      }

      &:hover {
        color: #a31f2b;
      }
    }
  }
}

// Set a placeholder image size so that the selector gets correctly positioned no matter what images are loaded
.lazy-load-image-background {
  height: 94px;
  width: 150px;
}