@import 'include-media/dist/_include-media.scss';

.imageCarousel {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: black;
  position: relative;
  padding-top: 10px;

  @media screen and (max-width: 1100px) {
    max-height: 80vh;
    height: 80vh;
  }

  @media screen and (max-width: 600px) {
    max-height: 100vh;
    height: auto;
  }

  &-downloadIcon {
    position: absolute;
    top: 25px;
    right: 35px;

    @media screen and (min-width: 1400px) {
      left: auto;
      right: auto;
      margin-left: 900px;
    }

    @media screen and (min-width: 1600px) {
      left: auto;
      right: auto;
      margin-left: 1000px;
    }

    @media screen and (min-width: 1800px) {
      left: auto;
      right: auto;
      margin-left: 1200px;
    }

    @media screen and (min-width: 2000px) {
      left: auto;
      right: auto;
      margin-left: 1300px;
    }

    @media screen and (min-width: 2200px) {
      left: auto;
      right: auto;
      margin-left: 1400px;
    }

    &-icon {
      height: 40px;
      width: 40px;

      @media screen and (max-width: 1800px) {
        height: 30px;
        width: 30px;
      }

      @media screen and (max-width: 1300px) {
        height: 25px;
        width: 25px;
      }

      @media screen and (max-width: 400px) {
        height: 20px;
        width: 20px;
      }
    }

    @media screen and (max-width: 400px) {
      top: 25px;
      right: 25px;
    }
  }

  &-mainImage {
    height: 100%;
    width: 100%;
    object-fit: contain;
    transition-duration: 0.25s;
    -webkit-transition: opacity 0.25s ease-in-out;
    -moz-transition: opacity 0.25s ease-in-out;
    -o-transition: opacity 0.25s ease-in-out;
    transition: opacity 0.25s ease-in-out;

    &-container {
      max-height: 75%;
      width: 70%;
      max-width: 1500px;
      position: relative;
    }

    &-withTitle {
      max-height: 67%;
    }
  }

  &-scroller {
    // display: flex;
    position: absolute;
    bottom: 60px;
    height: 110px;
    // overflow: auto;
    // white-space: nowrap;
    // align-items: center;
    width: 3379px;
    left: 0;
    transition-duration: 0.3s;

    &::-webkit-scrollbar {
      width: 0 !important;
    }

    &-withTitle {
      bottom: 105px;
    }

    &-image {
      height: 90px;
      width: 130px;
      margin: 0 10px;
      transition-duration: 0.25s;
      cursor: pointer;

      &-selected {
        border: 1px solid white;
      }
    }

    @media screen and (max-width: 600px) {
      display: none;
    }
  }

  &-title {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.83);
    text-align: center;
    line-height: 22px;
    position: absolute;
    bottom: 45px;
    text-transform: uppercase;

    @media screen and (max-width: 600px) {
      position: initial;
      padding: 15px;
    }
  }

  &-sideArrows {
    position: absolute;
    top: 45%;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1900px;

    &-left {
      cursor: pointer;
      font-family: NanumPen;
      font-size: 35px;
      color: rgba(255, 255, 255, 0.83);
      letter-spacing: -2.56px;
      margin: 0;
      padding: 10px;
      transition-duration: 0.15s;

      @media screen and (min-width: 1800px) {
        font-size: 50px;
      }

      @media screen and (max-width: 600px) {
        font-size: 20px;
      }

      &:hover {
        color: #a31f2b;
      }
    }
    &-right {
      cursor: pointer;
      font-family: NanumPen;
      font-size: 35px;
      color: rgba(255, 255, 255, 0.83);
      letter-spacing: -2.56px;
      margin: 0;
      padding: 10px;
      transition-duration: 0.15s;

      @media screen and (min-width: 1800px) {
        font-size: 50px;
      }

      @media screen and (max-width: 600px) {
        font-size: 20px;
      }

      &:hover {
        color: #a31f2b;
      }
    }
  }

  &-arrows {
    display: flex;
    width: 90px;
    justify-content: space-between;
    height: 50px;
    position: absolute;
    bottom: 25px;

    @media screen and (max-width: 600px) {
      position: initial;
    }

    &-arrow {
      cursor: pointer;
      font-family: NanumPen;
      font-size: 32px;
      color: rgba(255, 255, 255, 0.83);
      letter-spacing: -2.56px;
      margin: 0;
      padding: 10px;
      transition-duration: 0.15s;

      @media screen and (max-width: 600px) {
        font-size: 26px;
      }

      &:hover {
        color: #a31f2b;
      }
    }
  }
}

// Set a placeholder image size so that the selector gets correctly positioned no matter what images are loaded
.lazy-load-image-background {
  height: 94px;
  width: 150px;
}
