.credits {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 100%;

  &-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-transform: uppercase;

    &-getInTouch {
      font-family: BebasNeue;
      font-size: 48px;
      color: rgba(255, 255, 255, 0.83);
      text-align: center;
      margin: 0;
    }

    &-email {
      font-family: BebasNeue;
      font-size: 20px;
      color: #a31f2b;
      text-align: center;
      line-height: 30px;
      margin: 0;
    }
  }

  &-names {
    font-family: BebasNeue;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.83);
    text-align: center;
    line-height: 30px;
    max-width: 800px;
    text-transform: uppercase;
    margin: 40px 0;

    &-large {
      font-size: 22px;
    }
  }

  &-partners {
    display: flex;
    justify-content: center;

    &-logo {
      margin: 10px;
    }
  }

  &-footer {
    font-family: BebasNeue;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.83);
    text-align: center;
    line-height: 30px;
  }
}
