.screenings {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;

  &-link {
    color: #be1e2d;
    font-weight: 600;
  }

  &-pageTitle {
    position: absolute;
    top: 25px;
    left: 45px;
    color: rgba(255, 255, 255, 0.83);
    text-transform: uppercase;
    padding-top: 15px;
    border-top: 3px solid white;
    z-index: 2;
    font-size: 48px;
  }

  &-headerImage {
    width: 100%;
    position: absolute;
    z-index: 0;
    max-height: 1300px;
    object-fit: cover;
  }

  &-body {
    padding: 25px;
    background-color: #ededed;
    width: 80%;
    margin: 15px;
    max-width: 1500px;
    z-index: 1;

    &-firstCard {
      margin-top: 500px;

      @media screen and (max-width: 800px) {
        margin-top: 18vh;
      }

      @media screen and (max-width: 500px) {
        margin-top: 25vh;
      }
    }

    &-header {
      display: flex;
      align-items: center;
      font-size: 21px;

      &-text {
        text-transform: uppercase;
        font-weight: 700;
        color: #be1e2d;
        margin: 0;
        font-size: 28px;
        color: #000000;
        line-height: 34px;
      }
      &-upcomingTitle {
        font-size: 28px;
        color: #be1e2d;
        min-width: 220px;
        margin: 0;
        text-transform: uppercase;

        @media screen and (max-width: 600px) {
          font-size: 18px;
          min-width: 230px;
        }
        @media screen and (max-width: 400px) {
          min-width: 130px;
        }
      }
      &-pastTitle {
        font-size: 28px;
        color: #be1e2d;
        min-width: 180px;
        margin: 0;
        text-transform: uppercase;

        @media screen and (max-width: 600px) {
          font-size: 18px;
          min-width: 180px;
        }

        @media screen and (max-width: 400px) {
          min-width: 110px;
        }
      }
      &-line {
        height: 1px;
        width: 100%;
        border-bottom: 3px solid #be1e2d;

        animation-name: screeningsAnimationLine;
        animation-duration: 3s;
        animation-delay: 0s;
        transition-duration: 3s;

        @keyframes screeningsAnimationLine {
          0% {
            width: 0;
          }
          100% {
            width: 100%;
          }
        }
      }
    }
    &-body {
      color: black;
      display: flex;
      flex-wrap: wrap;

      @media screen and (max-width: 800px) {
        padding: 20px 0 0 0;
      }
    }
    &-text {
      text-transform: uppercase;
      font-size: 24px;
      color: #000000;
      line-height: 34px;

      @media screen and (max-width: 800px) {
        font-size: 16px;
        margin-top: 0;
      }
    }
    &-screening {
      min-width: 450px;
      text-transform: uppercase;
      font-weight: 700;
      margin: 20px 30px;
      display: flex;
      width: 450px;
      flex-basis: 450px;
      flex-grow: 1;

      @media screen and (max-width: 800px) {
        min-width: 250px;
        margin: 0;
      }
    }
  }

  &-infoSection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85%;
    max-width: 1500px;
    flex-wrap: wrap;
    margin-bottom: 50px;

    .column {
      flex-direction: column;
    }

    &-funding {
      display: flex;
      margin: 30px 0;
      align-items: center;

      @media screen and (max-width: 800px) {
        flex-direction: column;
      }

      &-email {
        color: white;
        text-decoration: none;
      }

      &-text {
        font-size: 18px;
        color: #ffffff;
        text-align: center;
        line-height: 50px;
        width: 50%;
        padding: 0 30px;
        display: flex;
        justify-content: center;
        align-items: center;

        &:first-child {
          border-right: 3px solid #be1e2d;
        }

        @media screen and (max-width: 800px) {
          width: 80%;
          font-size: 12px;
          padding: 0;

          &:first-child {
            border-bottom: 3px solid #be1e2d;
            border-right: none;
          }
        }
      }
    }

    &-box {
      background-color: #a31f2b;
      justify-content: center;
      align-items: center;
      padding: 10px;
      width: 45%;
      min-width: 230px;
      display: flex;
      color: #ffffff;
      margin: 10px;
      height: 100px;

      @media screen and (max-width: 1200px) {
        width: 100%;
      }

      @media screen and (max-width: 600px) {
        flex-direction: column;
        height: auto;
        &:last-child {
          padding: 40px 0 20px 0;
        }
      }

      &-row {
        display: flex;
      }

      &-column {
        display: flex;
        text-align: center;
        margin: 5px;
        width: 150px;
        flex-basis: 150px;
        flex-grow: 1;
        text-transform: uppercase;
        align-items: center;

        @media screen and (max-width: 600px) {
          width: 80%;
          max-height: 80px;
          justify-content: center;
        }

        &-text {
          font-size: 16px;
          color: #ffffff;
          line-height: 30px;

          &-center {
            text-align: center;
          }

          @media screen and (max-width: 800px) {
            margin: 0;
            font-size: 18px;
          }
        }

        &-input {
          opacity: 0.95;
          background: #ffffff;
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
          padding: 20px;
          min-width: 130px;
          width: 100%;
          border: none;
          font-size: 18px;
          text-decoration: none;
          box-shadow: none;
          height: 20px;
          margin-right: 10px;
          border-radius: 3px;
          color: #a31f2b;

          &:focus {
            outline: none;
          }

          &:-ms-input-placeholder {
            /* Internet Explorer 10-11 */
            color: rgba(155, 155, 155, 0.47);
          }
        }

        &-submit {
          width: 65px;
          height: 60px;
          padding: 10px 5px;
          cursor: pointer;
          border-radius: 3px;
          text-transform: uppercase;
          color: #a31f2b;
          font-weight: 600;
          &:focus {
            outline: none;
          }
        }
      }

      &-header {
        font-size: 28px;
        color: #ffffff;
        text-align: center;
        line-height: 34px;
        text-decoration: none;
      }

      &-divider {
        border-bottom: 5px solid #ffffff;
        width: 80px;
        margin-bottom: 20px;
      }
    }
  }
}
