.press {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  &-pageTitle {
    position: absolute;
    top: 15px;
    left: 45px;
    text-transform: uppercase;
    padding-top: 15px;
    border-top: 3px solid white;
    z-index: 1;
    font-size: 48px;
    color: rgba(255, 255, 255, 0.83);
  }

  &-headerImage {
    width: 100%;
    position: absolute;
    z-index: 0;
    filter: opacity(0.8);
  }

  &-infoSection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85%;
    max-width: 1500px;
    flex-wrap: wrap;

    &:last-child {
      margin-bottom: 40px;
    }

    @media screen and (max-width: 1000px) {
      width: 90%;
    }

    .column {
      flex-direction: column;
    }

    &-box {
      background-color: #a31f2b;
      justify-content: center;
      align-items: center;
      padding: 10px 25px;
      width: 43%;
      min-width: 230px;
      display: flex;
      color: #ffffff;
      margin: 10px;

      @media screen and (max-width: 1200px) {
        width: 100%;
      }

      @media screen and (max-width: 600px) {
        flex-direction: column;
      }

      &-row {
        display: flex;
      }

      &-link {
        text-decoration: none;
      }

      &-header {
        text-transform: uppercase;
        margin-right: 10px;
        line-height: 34px;
        font-size: 32px;
        color: #ffffff;
        text-align: center;
        margin: 30px 10px;
      }

      &-subtext {
        margin: 10px;
        text-transform: uppercase;
        font-size: 22px;
        color: #ffffff;
        text-align: center;
        line-height: 30px;
      }

      &-divider {
        border-bottom: 3px solid #ffffff;
        width: 80px;
        margin-bottom: 20px;
      }
    }
  }
}
