.theStory {
  height: 100%;
  position: relative;
  background: black;

  &-background {
    height: 100%;
    max-width: 100%;
    top: 0;
    position: absolute;
    object-fit: cover;
    filter: opacity(80%);

    @media screen and (max-width: 700px) {
      object-fit: contain;
    }
  }

  &-header {
    transform: rotate(-90deg);
    position: absolute;
    top: 220px;
    left: -130px;
    display: flex;
    align-items: center;

    @media screen and (max-width: 700px) {
      top: 120px;
      left: -50px;
    }

    &-line {
      height: 1px;
      width: 150px;
      border-bottom: 3px solid #be1e2d;
      margin-right: 20px;

      @media screen and (max-width: 700px) {
        width: 50px;
      }
    }

    &-text {
      font-size: 48px;
      color: rgba(255, 255, 255, 0.83);
      margin: 10px;
      text-transform: uppercase;

      @media screen and (max-width: 700px) {
        font-size: 18px;
      }
    }
  }

  &-description {
    position: absolute;
    bottom: 125px;
    right: 75px;
    display: flex;
    max-width: 500px;

    @media screen and (max-width: 700px) {
      right: 0;
      padding: 25px;
      bottom: 25px;
    }

    &-text {
      font-size: 24px;
      text-transform: uppercase;
      color: rgba(255, 255, 255, 0.83);
      line-height: 30px;

      @media screen and (max-width: 700px) {
        font-size: 12px;
      }
    }
  }
}
