@import 'include-media/dist/_include-media.scss';

.homeSectionContainer {
  min-height: 100%;
  position: relative;
  font-family: 'BebasNeue';
}

.homeContainer {
  height: 100%;
  overflow-x: hidden;
}

.homeSection--collapseOnMobile {
  @include media('<tablet') {
    min-height: 0 !important;
  }
}