@import 'include-media/dist/_include-media.scss';

.homeSectionContainer {
  min-height: 100vh;
  position: relative;
  font-family: 'BebasNeue';
}

.homeContainer {
  @include media('>tablet') {
    overflow-x: hidden;
    perspective: 1px;
    transform-style: preserve-3d;
    height: 100vh;
    overflow-y: scroll;
  }
}

.homeSection--collapseOnMobile {
  @include media('<tablet') {
    min-height: 0 !important;
  }
}
