@import 'include-media/dist/_include-media.scss';

.homeSectionContainer {
  min-height: 100vh;
  position: relative;
  font-family: 'BebasNeue';

  &.trailerView {
    @include media('<tablet') {
      min-height: initial;
    }
  }

}

.homeContainer {
  overflow-x: hidden;
}

.homeSection--collapseOnMobile {
  @include media('<tablet') {
    min-height: 0 !important;
  }
}
