.letterFromTheDirector {
  padding: 25px;
  background-color: #ededed;
  width: 80%;
  margin: 15px;
  margin-top: 400px;
  max-width: 1500px;
  z-index: 1;

  &-header {
    display: flex;
    align-items: center;
    font-size: 21px;

    &-text {
      text-transform: uppercase;
      font-weight: 700;
      color: #be1e2d;
      margin: 0;
      font-size: 28px;
      color: #000000;
      line-height: 34px;
    }
    &-title {
      font-size: 28px;
      width: 340px;
      color: #be1e2d;
      margin: 0;
      text-transform: uppercase;
    }
    &-line {
      height: 1px;
      width: 100%;
      border-bottom: 3px solid #be1e2d;
    }
  }
  &-body {
    color: black;
    border-left: 3px solid #be1e2d;
    margin-top: -5px;
    font-size: 28px;
    color: #000000;
    line-height: 34px;
  }
  &-text {
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px;
    padding-left: 20px;
    font-size: 19px;
    margin-bottom: 0;

    &:first-child {
      margin-top: 0;
      padding-top: 20px;
    }

    &-signature {
      font-family: 'PrestigeSignature';
      font-size: 54px;
      color: #000000;
      line-height: 84px;
      font-weight: 300;
      text-transform: none;
    }
  }
  &-quote {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0px 50px;
    font-size: 28px;
    color: #000000;
    line-height: 34px;
  }
}
