.posterArt {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: absolute;

  &-image {
    height: 100%;
    max-width: 600px;

    @media screen and (max-width: 850px) {
      width: 70%;
      object-fit: contain;
    }
  }

  &-left {
    height: 100%;
    width: 80px;
    align-items: center;
    flex-direction: column;
    display: flex;
    justify-content: flex-end;
    @media screen and (max-width: 850px) {
      padding: 0 10px;
    }

    &-line {
      border-right: 3px solid red;
      width: 1px;
      height: 35%;
      margin-top: 30px;
    }
    &-text {
      color: #fff;
      writing-mode: vertical-rl;
      text-orientation: mixed;
      white-space: nowrap;
      transform: rotate(180deg);
      font-size: 42px;
      color: rgba(255, 255, 255, 0.83);
      margin: 0;
    }
  }

  &-right {
    height: 100%;
    width: 80px;
    align-items: center;
    flex-direction: column;
    display: flex;
    justify-content: flex-start;

    @media screen and (max-width: 850px) {
      padding: 10px;
    }

    &-line {
      border-right: 3px solid red;
      width: 1px;
      height: 35%;
      margin-bottom: 30px;
    }

    &-social {
      height: 100px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}
