@import 'include-media/dist/_include-media.scss';

.fundTheCause {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;

  &-pageTitle {
    position: absolute;
    top: 15px;
    left: 45px;
    text-transform: uppercase;
    padding-top: 15px;
    border-top: 3px solid white;
    z-index: 1;
    font-size: 48px;
    color: rgba(255, 255, 255, 0.83);
  }

  &-headerImage {
    width: 100%;
    max-height: 600px;
    position: absolute;
    z-index: 0;
    object-fit: cover;
    filter: opacity(0.8);
  }

  &-line {
    height: 1px;
    width: 100%;
    border-bottom: 3px solid #be1e2d;

    animation-name: fundMobileLineAnimation;
    animation-duration: 2s;
    transition-duration: 2s;
    animation-delay: 1s;

    @keyframes fundMobileLineAnimation {
      0% {
        width: 0;
      }
      100% {
        width: 100%;
      }
    }

    @media screen and (max-width: 600px) {
      display: none;
    }
  }

  &-infoSection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85%;
    max-width: 1500px;
    flex-wrap: wrap;

    &:last-child {
      margin-bottom: 40px;
    }

    @media screen and (max-width: 1000px) {
      width: 90%;
    }

    .column {
      flex-direction: column;
    }

    &-box {
      background-color: #a31f2b;
      justify-content: center;
      align-items: center;
      padding: 10px 25px;
      width: 43%;
      min-width: 230px;
      display: flex;
      color: #ffffff;
      margin: 10px;

      @media screen and (max-width: 1200px) {
        width: 100%;
      }

      @media screen and (max-width: 600px) {
        flex-direction: column;
      }

      &-row {
        display: flex;
      }

      &-link {
        text-decoration: none;
      }

      &-header {
        text-transform: uppercase;
        margin-right: 10px;
        line-height: 34px;
        font-size: 32px;
        color: #ffffff;
        text-align: center;
        margin: 33px 10px 30px 10px;
      }

      &-subtext {
        margin: 10px;
        text-transform: uppercase;
        font-size: 22px;
        color: #ffffff;
        text-align: center;
        line-height: 30px;
      }

      &-divider {
        border-bottom: 3px solid #ffffff;
        width: 80px;
        margin-bottom: 20px;
      }
    }
  }

  &-images {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85%;
    max-width: 1580px;

    @media screen and (max-width: 1200px) {
      width: 87%;
    }

    @media screen and (max-width: 1000px) {
      flex-wrap: wrap;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 90%;
    }

    @media screen and (max-width: 600px) {
      flex-wrap: wrap;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 96%;
    }

    &-container {
      height: 400px;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      transition-duration: 0.15s;
      background-color: #ededed;
      padding: 25px;
      margin: 15px;
      width: 100%;

      &-text {
        display: none;
        z-index: 10;
        color: black;
        text-transform: uppercase;
        font-size: 26px;
        text-align: center;
        cursor: pointer;
        pointer-events: none;
        margin: 25px;
        line-height: 34px;

        @include media('<tablet') {
          display: block;
          font-size: 16px;
        }
      }

      &-title {
        font-size: 48px;
        color: #be1e2d;
        text-align: center;
        margin: 15px;
      }

      &-button {
        background-color: #4a4a4a;
        color: white;
        padding: 10px 25px;
        width: 80%;
        max-width: 425px;
        text-align: center;
        transition-duration: 0.2s;

        &:hover {
          cursor: pointer;
          background-color: #d0021b;
        }
      }

      &-text {
        display: block;
      }

      &-logo {
        display: block;
        max-height: 100%;
        width: auto;
        height: auto;
        object-fit: contain;
        max-width: 230px;
      }
    }

    &-largeContainer {
      height: 400px;
      width: 80%;
      position: relative;
      display: flex;
      flex-direction: column;
      background-color: #ededed;
      align-items: center;
      justify-content: center;
      transition-duration: 0.15s;
      padding: 25px;
      margin: 15px auto;
      max-width: 1500px;

      &-text {
        display: none;
        z-index: 10;
        color: black;
        text-transform: uppercase;
        font-size: 26px;
        text-align: center;
        cursor: pointer;
        pointer-events: none;
        margin: auto;
        line-height: 34px;

        @include media('<tablet') {
          display: block;
          font-size: 16px;
        }
      }

      &-button {
        background-color: #4a4a4a;
        color: white;
        padding: 10px 25px;
        width: 80%;
        max-width: 425px;
        text-align: center;
        transition-duration: 0.2s;
        margin-bottom: 20px;

        &:hover {
          cursor: pointer;
          background-color: #d0021b;
        }
      }

      &-text {
        display: block;
      }

      &-logo {
        display: block;
        max-height: 100%;
        width: auto;
        height: auto;
        object-fit: contain;
        max-width: 230px;
        margin-top: 20px;
      }
    }

    &-image {
      z-index: 1;
      height: 280px;
      width: 100%;
      position: absolute;
      object-fit: contain;
      transition-duration: 0.15s;
      cursor: pointer;
      filter: brightness(30%);

      &:after {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.6);
        opacity: 0;
        transition: all 1s;
      }

      &:hover {
        filter: brightness(20%);
      }
    }
  }
}
