.headerContainer {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  text-transform: uppercase;
  color: #fff;
  background-color: transparent;

  * {
    padding: 0;
    margin: 10px 0;

    @media screen and (max-width: 450px) {
      font-size: 14px;
      margin: 7px 0;
    }
  }

  &-line {
    cursor: pointer;
    transition-duration: 0.15s;
    width: max-content;

    @media screen and (max-width: 450px) {
      font-size: 14px;
      margin-bottom: 4px;
    }

    &:hover {
      color: #be1e2d;
    }
  }

  &-social {
    display: flex;

    &-iconContainer {
      border-radius: 50%;
      border: 1px solid white;
      margin-right: 5px;
      background-color: transparent;
      height: 30px;
      width: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition-duration: 0.15s;
      cursor: pointer;

      &-icon {
        height: 15px;
        width: 15px;
      }
    }

    .facebook {
      &:hover {
        background-color: #3a5997;
      }
    }

    .twitter {
      &:hover {
        background-color: #1aa1f1;
      }
    }

    .imdb {
      &:hover {
        background-color: #dba505;
      }
    }

    .instagram {
      &:hover {
        background-color: #ee1d23;
      }
    }
  }
}
