.theStory {
  height: 100%;
  position: relative;
  background: black;

  &-background {
    height: 100%;
    max-width: 100%;
    top: 0;
    position: absolute;
    object-fit: cover;
    filter: opacity(80%);
  }

  &-header {
    transform: rotate(-90deg);
    position: absolute;
    top: 220px;
    left: -130px;
    display: flex;
    align-items: center;

    &-line {
      height: 1px;
      width: 150px;
      border-bottom: 3px solid #be1e2d;
      margin-right: 20px;
    }

    &-text {
      font-family: BebasNeue;
      font-size: 38px;
      color: rgba(255, 255, 255, 0.83);
      margin: 0;
      text-transform: uppercase;
    }
  }

  &-description {
    position: absolute;
    bottom: 125px;
    right: 75px;
    display: flex;
    max-width: 500px;

    &-text {
      font-family: BebasNeue;
      font-size: 16px;
      text-transform: uppercase;
      color: rgba(255, 255, 255, 0.83);
      line-height: 30px;
    }
  }
}
