@import 'include-media/dist/_include-media.scss';
.takeAction {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &-background {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: opacity(0.6);
  }

  &-header {
    width: 90%;
    z-index: 1;

    &-text {
      text-transform: uppercase;
      color: white;
      font-size: 48px;
      border-bottom: 3px solid #be1e2d;
    }
  }

  &-images {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: 1000px) {
      flex-wrap: wrap;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &-container {
      height: 280px;
      width: 280px;
      margin: 20px;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      transition-duration: 0.15s;

      @media screen and (max-width: 1200px) {
        height: 225px;
        width: 225px;
      }

      @media screen and (max-width: 700px) {
        height: 200px;
        width: 225px;
      }

      &-logo {
        height: 30px;
        display: none;
        z-index: 2;

        @include media('<desktop') {
          display: block;
        }
      }

      &-text {
        display: none;
        z-index: 10;
        color: white;
        text-transform: uppercase;
        font-size: 26px;
        max-width: 200px;
        text-align: center;
        cursor: pointer;
        margin: 5px;

        @include media('<desktop') {
          display: block;
        }
      }

      &:hover &-text {
        display: block;
      }

      &:hover &-logo {
        display: block;
      }
    }

    &-image {
      z-index: 1;
      height: 280px;
      position: absolute;
      object-fit: contain;
      transition-duration: 0.15s;

      @media screen and (max-width: 1200px) {
        height: 225px;
      }

      @media screen and (max-width: 700px) {
        height: 200px;
      }

      &:after {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.6);
        opacity: 0;
        transition: all 1s;
      }

      &:hover {
        cursor: pointer;
        filter: brightness(30%);
      }

      @include media('<desktop') {
        filter: brightness(30%);
      }
    }
  }
}
