@import 'include-media/dist/_include-media.scss';
.trailer-view {
  .countdown {
    &-container {
      display: inline-block;
      max-width: 65%;
      margin-right: 20px;

      &-text {
        margin-bottom: 0px;
      }

      @include media('<tablet') {
        margin-right: 0;
        max-width: 85%;
        display: flex;
        margin-right: 0;
        max-width: 35%;
      }

      @include media('>=tablet', '<desktop') {
        max-width: 100%;
        margin-right: 100px;
      }

      h3 {
        // The order of styles and specifity requires important to override a later declaration

        @include media('<tablet') {
          margin: 15px 5px;
          text-align: center;
        }

        @include media('>=tablet', '<desktop') {
          font-size: 14px !important;
        }
      }
    }
  }
  .cta {
    &-container {
      display: inline-block;
      margin-right: 20px;
      @include media('<tablet') {
        text-align: center;
      }
      @include media('>=tablet', '<desktop') {
        display: none;
      }
    }
  }
  .flipClock {
    &-container {
      display: inline-block;
      position: relative;
      top: 0%;
      width: 30%;

      @include media('<tablet') {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100px;
      }

      @include media('>=tablet', '<desktop') {
        right: 15%;
      }
    }
  }
  .footer {
    color: rgba(255, 255, 255, 0.83);
    font-family: 'BebasNeue';
    font-size: 16px;
    line-height: 15px;

    // Layout styles
    display: grid;

    @include media('>=tablet') {
      grid-template-columns: 1fr 2fr 1fr;
      max-height: 91px;
    }

    @include media('<tablet') {
      max-height: none;
      height: auto;
    }

    // Override all user agent stylesheet settings for this
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
      font-size: 18px;
    }

    & div {
      max-height: 91px;

      @include media('<tablet') {
        max-height: none;
      }
    }

    &-section {
      @include media('>=tablet') {
        border-right: 3px solid #be1e2d;
        padding-left: 25px;
      }

      &--center {
        @extend .footer-section;
        // Layout styles
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 15px;

        @include media('<tablet') {
          flex-direction: column;
        }
      }

      &--mobileCenter {
        @extend .footer-section;
        @include media('<tablet') {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
        }
      }

      &:last-of-type {
        border-right: none;
      }
    }
  }
  .latest {
    &-form {
      line-height: 66px;
      @include media('>=tablet', '<desktop') {
        line-height: initial;
      }
    }
    &-inputEmail {
      display: inline-block;
      // This height needs to add in total up to the inputSubmit height. This elemenet has border etc so explicit height is lower.
      height: 45px;
      width: 50%;
      opacity: 0.95;
      padding: 2px 0 0 10px;
      background: #ffffff;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
      font-size: 20px;
      margin: 0 5px 0 15px;
      line-height: 35px;
      vertical-align: bottom;
      font-family: 'BebasNeue';
      color: rgba(155, 155, 155, 1);
      &::placeholder {
        color: rgba(155, 155, 155, 0.47);
        opacity: 0.95;
      }
      &:focus {
        outline: 0;
      }
      @include media('<tablet') {
        width: 60%;
      }
      @include media('>=tablet', '<desktop') {
        // Reset margin
        margin: 0;
        margin-right: 5px;
        width: 80%;
      }
    }
    &-inputSubmit {
      border: none;
      display: inline-block;
      height: 51px;
      opacity: 0.95;
      cursor: pointer;
      background: #ffffff;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
      vertical-align: bottom;
      width: 55px;
      font-family: BebasNeue;
      font-size: 14px;
      color: #000000;
      &:focus {
        outline: 0;
      }
    }
    &-text {
      float: left;
      font-size: 24px !important;

      @include media('<tablet') {
        h3 {
          display: inline;
        }
      }
      @include media('>=tablet', '<desktop') {
        float: none;
        h3 {
          display: inline;
        }
      }
    }
  }

  .socialGroup {
    &-container {
      display: inline-block;

      @include media('>=tablet') {
        display: block;
        float: right;
        margin-right: 15px;
        position: relative;
      }

      @include media('<tablet') {
        display: flex;
      }
    }
    &-line {
      // Layout styles
      align-items: center;
      display: flex;
      justify-content: space-between;

      & a {
        display: inline;
      }
    }
  }
  .thumbnail {
    height: 90vh;
    width: 100vw;

    @include media('<tablet') {
      height: 50vh;
    }
  }
}
