@import 'include-media/dist/_include-media.scss';

.news {
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;

  &-header {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;

    &-text {
      font-size: 38px;
      color: rgba(255, 255, 255, 0.83);
      margin: 10px 10px;
      white-space: nowrap;
      text-transform: uppercase;
    }

    &-line {
      height: 1px;
      width: 100%;
      margin: 0 40px;
      border-bottom: 3px solid #be1e2d;
    }
  }

  &-images {
    display: flex;
    width: 100%;
    height: 80%;

    &-navigate {
      cursor: pointer;
    }

    &-piece {
      animation-duration: 0.25s;
      transition-duration: 0.25s;
      position: absolute;
      margin: 0 auto;
      object-fit: contain;
      max-height: 75%;
    }

    &-mainNews {
      width: 50%;
      left: 25%;

      top: 10%;
      bottom: auto;

      @media screen and (max-width: 1000px) {
        width: 80%;
        margin-top: 0;
        left: 10%;
      }

      @media screen and (max-width: 800px) {
        display: flex;
        position: inherit;
      }

      @media screen and (max-width: 600px) {
        display: flex;
        position: inherit;
      }
    }

    &-leftNews {
      width: 25%;
      left: -5%;
      top: 30%;
      bottom: auto;
      right: auto;
      opacity: 0.7;

      @media screen and (max-width: 1000px) {
        display: none;
      }
    }

    &-farLeft {
      width: 25%;
      left: -50%;
      opacity: 0.7;
      top: 30%;
      bottom: auto;
      right: auto;
    }

    &-rightNews {
      width: 25%;
      opacity: 0.7;
      right: auto;
      bottom: auto;
      left: 80%;
      top: 30%;

      @media screen and (max-width: 1000px) {
        display: none;
      }
    }

    &-farRight {
      width: 25%;
      right: auto;
      opacity: 0.7;
      top: 30%;
      bottom: auto;
      left: 150%;
    }
  }

  &-arrows {
    display: flex;
    width: 90px;
    justify-content: space-between;
    height: 50px;
    position: absolute;
    bottom: 75px;

    @media screen and (max-width: 800px) {
      position: initial;
    }

    &-arrow {
      cursor: pointer;
      font-family: NanumPen;
      font-size: 32px;
      color: rgba(255, 255, 255, 0.83);
      letter-spacing: -2.56px;
      margin: 0;
      padding: 10px;
      transition-duration: 0.15s;

      &-hide {
        pointer-events: none;
        color: gray;
        opacity: 0.6;
      }

      &:hover {
        color: #a31f2b;
      }
    }
  }
}
