@import 'include-media/dist/_include-media.scss';

.news {
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;

  &-header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;

    &-text {
      font-size: 38px;
      color: rgba(255, 255, 255, 0.83);
      margin: 10px 10px;
      white-space: nowrap;
      text-transform: uppercase;
    }

    &-line {
      height: 1px;
      width: 100%;
      margin: 0 40px;
      border-bottom: 3px solid #be1e2d;
      transition-duration: 2s;
    }

    &-left {
      animation-name: newsAnimatedLineLeft;
      animation-duration: 2s;
      animation-delay: 1s;

      @keyframes newsAnimatedLineLeft {
        0% {
          width: 0%;
          margin-left: 100%;
        }
        100% {
          width: 100%;
          margin-left: 40px;
        }
      }
    }

    &-right {
      animation-name: newsAnimatedLineRight;
      animation-duration: 2s;
      animation-delay: 1s;

      @keyframes newsAnimatedLineRight {
        0% {
          width: 0%;
          margin-right: 100%;
        }
        100% {
          width: 100%;
          margin-right: 40px;
        }
      }
    }
  }

  &-images {
    display: flex;
    width: 100%;
    height: 80%;
    flex-direction: column;

    &-title {
      color: white;
      font-size: 26px;
      // Layout properties
      position: absolute;
      top: 60%;
      // This slight offset compared to the transform is necessary
      left: 52%;
      transform: translate(-50%, -50%);

      @media screen and (max-width: 800px) {
        font-size: 20px;
      }
    }

    &-titleTransitionStart {
      opacity: 0;
    }

    &-titleTransitionEnd {
      opacity: 1;
      animation-duration: 0.5s;
      transition-duration: 0.5s;
    }

    &-navigate {
      cursor: pointer;
    }

    &-piece {
      animation-duration: 0.25s;
      transition-duration: 0.25s;
      position: absolute;
      margin: 0 auto;
      object-fit: contain;
      max-height: 75%;
    }

    &-mainNews {
      // Style properties
      // Make the image red (wild but this works?)
      filter: grayscale(100%) brightness(30%) sepia(100%) hue-rotate(-50deg)
        saturate(600%) contrast(0.8);
      width: 53%;
      // Layout properties
      bottom: auto;
      left: 25%;
      top: 20%;

      @media screen and (max-width: 1000px) {
        width: 80%;
        margin-top: 0;
        left: 10%;
      }

      @media screen and (max-width: 800px) {
        display: flex;
        position: inherit;
      }

      @media screen and (max-width: 600px) {
        display: flex;
        position: inherit;
      }
    }

    &-leftNews {
      width: 30%;
      left: -10%;
      top: 30%;
      bottom: auto;
      right: auto;
      opacity: 0.8;

      @media screen and (max-width: 1000px) {
        display: none;
      }
    }

    &-farLeft {
      width: 25%;
      left: -50%;
      opacity: 0.8;
      top: 30%;
      bottom: auto;
      right: auto;
    }

    &-rightNews {
      width: 30%;
      opacity: 0.8;
      right: auto;
      bottom: auto;
      left: 85%;
      top: 30%;

      @media screen and (max-width: 1000px) {
        display: none;
      }
    }

    &-farRight {
      width: 25%;
      right: auto;
      opacity: 0.8;
      top: 30%;
      bottom: auto;
      left: 150%;
    }
  }

  &-arrows {
    display: flex;
    width: 90px;
    justify-content: space-between;
    height: 50px;
    position: absolute;
    bottom: 75px;

    @media screen and (max-width: 800px) {
      position: initial;
    }

    &-arrow {
      cursor: pointer;
      font-family: NanumPen;
      font-size: 32px;
      color: rgba(255, 255, 255, 0.83);
      letter-spacing: -2.56px;
      margin: 0;
      padding: 10px;
      transition-duration: 0.15s;

      &-hide {
        pointer-events: none;
        color: gray;
        opacity: 0.6;
      }

      &:hover {
        color: #a31f2b;
      }
    }
  }
}
